.file-bg{
    cursor: pointer;
    width: 122px;
    margin: 11px;
    padding: 10px;
}

.file-bg:hover{
    background:#e6f5ff;
    border-radius: 10px;
}

.file-bg .ext{
    margin-top: -43px;
    background-color: rgb(207, 56, 23);
    position: absolute;
    max-width: 45px;
    border-radius: 4px;
    color: white;
    font-size: 19px;
    margin-left: 21px;
    padding-left: 3px;
    padding-right: 4px;
}

.file-bg .para{
    font-size: 19px;
    text-align: center;
    font-family: system-ui;
}